<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554348137314-chc2icshv441jqqiu3kib71tai10lkm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554348137314-chc2icshv441jqqiu3kib71tai10lkm5</string>
	<key>API_KEY</key>
	<string>AIzaSyCh4a_cB65AC3yM3N2lC4mBYIvUsroI6rU</string>
	<key>GCM_SENDER_ID</key>
	<string>554348137314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>test-906e9</string>
	<key>STORAGE_BUCKET</key>
	<string>test-906e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554348137314:ios:b78f56d0b9de784b133a3b</string>
</dict>
</plist>